<div class="faq-block">
    <div class="faq_breadcrumb">
        <p>/ FAQ</p>
    </div>
    <h2>Всё, что вы хотели спросить</h2>
    <div class="faq-item">
        <button class="faq-question">
            <span>Могут ли воспользоваться услугами TAIBA FINANCE лица нерелигиозного взгляда?</span>
            <span class="faq-icon"><img src="images/icons/plus.svg"></span>
        </button>
        <div class="faq-answer">
            <p>
                Согласно стандарту AAOIFI №3, вся сумма пени полностью направляется на благотворительные цели
                и не остаётся
                в распоряжении компании. Перечисление осуществляется под контролем шариатского совета.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            <span>Что такое иджара и чем она отличается от обычного лизинга?</span>
            <span class="faq-icon"><img src="images/icons/plus.svg"></span>
        </button>
        <div class="faq-answer">
            <p>
                Согласно стандарту AAOIFI №3, вся сумма пени полностью направляется на благотворительные цели
                и не остаётся
                в распоряжении компании. Перечисление осуществляется под контролем шариатского совета.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            <span>Куда направляется пеня при просрочке?</span>
            <span class="faq-icon"><img src="images/icons/plus.svg"></span>
        </button>
        <div class="faq-answer">
            <p>
                Согласно стандарту AAOIFI №3, вся сумма пени полностью направляется на благотворительные цели
                и не остаётся
                в распоряжении компании. Перечисление осуществляется под контролем шариатского совета.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            <span>Кто контролирует соответствие сделок исламскому праву?</span>
            <span class="faq-icon"><img src="images/icons/plus.svg"></span>
        </button>
        <div class="faq-answer">
            <p>
                Согласно стандарту AAOIFI №3, вся сумма пени полностью направляется на благотворительные цели
                и не остаётся
                в распоряжении компании. Перечисление осуществляется под контролем шариатского совета.
            </p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question">
            <span>Можно ли оформить заявку полностью онлайн? </span>
            <span class="faq-icon"><img src="images/icons/plus.svg"></span>
        </button>
        <div class="faq-answer">
            <p>
                Согласно стандарту AAOIFI №3, вся сумма пени полностью направляется на благотворительные цели
                и не остаётся
                в распоряжении компании. Перечисление осуществляется под контролем шариатского совета.
            </p>
        </div>
    </div>
</div>