<div class="news">
    <div class="news_breadcrumb">
        <p>/ новости</p>
    </div>
    <div class="news_textAnd_buttons">
        <h2>Новости</h2>
        <div class="swiper-buttons">
            <div class="swiper-button-prev-news">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    style="transform: rotate(180deg);">
                    <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="currentColor" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12L20.33 12" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="swiper-button-next-news">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke="currentColor" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M3.5 12L20.33 12" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
    <div class="swiper newsSwiper">
        <div class="swiper-wrapper swiper-newsSwiperWrapper">
            <div class="swiper-slide">
                <a class="newsswiper-content">
                    <div class="swipe_img">
                        <img src="images/news-img.webp" alt="news-img">
                    </div>
                    <div class="swipe_Text">
                        <div class="text">
                            <h3>Taiba Finance получила награду «Лучшее исламское решение для финансирования малого
                                и среднего бизнеса»</h3>
                            <p>В рамках 4-го Исламского банковского и финансового форума стран СНГ, организованного
                                Центром исламского банкинга и экономики «АлХуда» 16 июня...</p>
                        </div>
                        <div class="data">
                            <p>17.06.2025</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="newsswiper-content">
                    <div class="swipe_img">
                        <img src="images/news-img.webp" alt="news-img">
                    </div>
                    <div class="swipe_Text">
                        <div class="text">
                            <h3>Taiba Finance получила награду «Лучшее исламское решение для финансирования малого
                                и среднего бизнеса»</h3>
                            <p>
                                В рамках 4-го Исламского банковского и финансового форума стран СНГ, организованного
                                Центром исламского банкинга и экономики «АлХуда» 16 июня...

                            </p>
                        </div>
                        <div class="data">
                            <p>17.06.2025</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="newsswiper-content">
                    <div class="swipe_img">
                        <img src="images/news-img.webp" alt="news-img">
                    </div>
                    <div class="swipe_Text">
                        <div class="text">
                            <h3>Taiba Finance получила награду «Лучшее исламское решение для финансирования малого
                                и среднего бизнеса»</h3>
                            <p>В рамках 4-го Исламского банковского и финансового форума стран СНГ, организованного
                                Центром исламского банкинга и экономики «АлХуда» 16 июня...</p>
                        </div>
                        <div class="data">
                            <p>17.06.2025</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a class="newsswiper-content">
                    <div class="swipe_img">
                        <img src="images/news-img.webp" alt="news-img">
                    </div>
                    <div class="swipe_Text">
                        <div class="text">
                            <h3>Taiba Finance получила награду «Лучшее исламское решение для финансирования малого
                                и среднего бизнеса»</h3>
                            <p>В рамках 4-го Исламского банковского и финансового форума стран СНГ, организованного
                                Центром исламского банкинга и экономики «АлХуда» 16 июня...</p>
                        </div>
                        <div class="data">
                            <p>17.06.2025</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>