<div class="partners">
    <div class="partners_breadcrumb">
        <p>/ партнеры</p>
    </div>
    <div class="partners_text">
        <h2>Партнерская сеть</h2>
    </div>
    <div class="swiper partnersSwiper">
        <div class="swiper-wrapper swiper-partnersSwiperWrapper">
            <div class="swiper-slide">
                <img src="/images/partners1.svg">
            </div>
            <div class="swiper-slide">
                <img src="/images/partners2.svg">
            </div>
            <div class="swiper-slide">
                <img src="/images/partners3.svg">
            </div>
            <div class="swiper-slide">
                <img src="/images/partners4.svg">
            </div>
            <div class="swiper-slide">
                <img src="/images/partners5.svg">
            </div>
        </div>
    </div>
</div>