<div class="connection-container">
    <div class="main_img">
        <img src="/images/icons/Chat.svg" alt="vidjet">
    </div>
    <div class="sub-buttons">
        <a href="mailto:example@example.com" class="sub-button email">
            <img src="/images/icons/message.svg">
        </a>
        <a href="https://t.me/your_bot" target="_blank" class="sub-button telegram">
            <img src="/images/icons/telegram.svg">
        </a>
        <a href="tel:+998901234567" class="sub-button phone">
            <img src="/images/icons/call-sharp.svg">
        </a>
    </div>
</div>
